body,
html {
    position: fixed;
    display: flex;
}

body {
    font-family: 'Baloo', 'sans-serif';
    overflow: hidden;
    height: 100%;
}

form {
    margin: 10px;
}

input {
    height: 45px !important;
}

button {
    border: none;
    width: 8em;
    height: 45px;
}

.content {
    background-color: #f1c40f;
}

.primary {
    background-color: #3498db;
    color: #ecf0f1 !important;
}

.primary:active {
    background-color: #2980b9;
}

.danger {
    background-color: #e74c3c;
    color: #ecf0f1 !important;
}

.danger:active {
    background-color: #c0392b;
}

.second-primary {
    background-color: #1abc9c;
    color: #ecf0f1 !important;
}

.second-primary:active {
    background-color: #16a085;
}

.transition-enter {
    opacity: 0.01;
}

.transition-enter.transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.transition-leave {
    opacity: 1;
}

.transition-leave.transition-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.spinner {
    position: fixed;
    z-index: 200;
    height: 2em;
    width: 2em;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ecf0f1;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
}

.error-message {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    z-index: 200;
}

.message {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.message * {
    color: white;
}

.error-message * {
    color: white;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}